<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sk.hopelife">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreateRecordActivity"></activity>
        <activity android:name=".DiaryActivity" />

        <service
            android:name=".DoTestService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".COVIDinfoActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".conditions.EmergancyRedActivity" />
        <activity android:name=".conditions.EmergancyYellowActivity" />
        <activity android:name=".conditions.RecomendationActivity" />
        <activity android:name=".conditions.GoodActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".COVIDTestAcrivity" />
        <activity android:name=".Form3Activity" />
        <activity android:name=".Form2Actvity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>